# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Ignore specific files from machine  (.insightface/ is here also)
.bash_history
.bashrc
.cache/
.cargo/
.conda/
.gitconfig
.ipython/
.insightface/
.jupyter/
.local/
.profile
.python_history
.rustup/
.sudo_as_admin_successful
.triton/
.wget-hsts

# Data files
*.npz
*.zip
*.tar.gz
*.rar
*.onnx

# Large output folders
ARCFACE/celebahq-idi
ARCFACE/models
ControlNetFolder/controlnetinpaint/trained_controlnet_inicial
ControlNetFolder/controlnetinpaint/zeroed_controlnet
ControlNetFolder/controlnetinpaint/zero_controlnet
celebahq-idi
datasets
wandb
.config/wandb
