# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Ignore specific files from machine  (.insightface/ is here also)
.bash_history
.bashrc
.cache/
.cargo/
.conda/
.gitconfig
.ipython/
.insightface/
.jupyter/
.local/
.profile
.python_history
.rustup/
.sudo_as_admin_successful
.triton/
.wget-hsts

# Data files
*.npz
*.zip
*.tar.gz
*.rar
*.onnx

# Large output folders
ARCFACE/celebahq-idi
ARCFACE/models
ControlNetFolder/controlnetinpaint/trained_controlnet_inicial
ControlNetFolder/controlnetinpaint/zeroed_controlnet
ControlNetFolder/controlnetinpaint/zero_controlnet
celebahq-idi
datasets
wandb
pretrained
identity_controlnet_last
identity_controlnet_final
identity_controlnet_old_wrong
identity_controlnet_face_specific
identity_controlnet_single_mask
ControlNet_plus_plus/train/FFHQ_inputs
ControlNet_plus_plus/train/IMG
ControlNet_plus_plus/train/ISR
ControlNet_plus_plus/train/ISR_inputs
ControlNet_plus_plus/train/backbones
ControlNet_plus_plus/train/comparison_outputs
ControlNet_plus_plus/train/mask_debug_visuals
ControlNet_plus_plus/train/comparison_outputs_random_seed
ControlNet_plus_plus/train/categorized_masks_debug
ControlNet_plus_plus/train/comparison_outputs_random_seed_train_set
ControlNet_plus_plus/train/output_old
ControlNet_plus_plus/train/useless_images
ControlNet_plus_plus/train/seed_randomness_outputs
ControlNet_plus_plus/train/EMNB_masks
ControlNet_plus_plus/train/comparison_outputs_random_seed_face_set
ControlNet_plus_plus/train/comparison_outputs_random_seed_FFHQ_set
ControlNet_plus_plus/train/comparison_outputs_random_seed_FFHQ_set1
ControlNet_plus_plus/train/comparison_outputs_random_seed_FFHQ_set_cs_07
ControlNet_plus_plus/train/comparison_outputs_random_seed_augmented_control
ControlNet_plus_plus/train/comparison_outputs_FFHQ_controlnet_scale
ControlNet_plus_plus/train/comparison_outputs_FFHQ_masked_vs_unmasked
ControlNet_plus_plus/train/comparison_outputs_FFHQ_randomness_v2
ControlNet_plus_plus/train/comparison_outputs_FFHQ_randomness_v2_1
ControlNet_plus_plus/train/comparison_outputs_FFHQ_randomness_v2_redo
ControlNet_plus_plus/train/comparison_outputs_FFHQ_randomness_v2_std
ControlNet_plus_plus/train/comparison_outputs_FFHQ_randomness_v2_std_CS1
ControlNet_plus_plus/train/comparison_outputs_random_seed_new_FFHQ_set
ControlNet_plus_plus/train/comparison_outputs_random_seed_new_FFHQ_set1
ControlNet_plus_plus/train/comparison_outputs_random_seed_new_FFHQ_set_cs_07
ControlNet_plus_plus/train/temp
ControlNet_plus_plus/train/temp_outputs
ControlNet_plus_plus/train/COMPARE_PVA
ControlNet_plus_plus/train/COMPARE_IDS_CONTROLNET
ControlNet_plus_plus/train/DATASETS_FOR_TESTING
ControlNet_plus_plus/train/DATASET_EVAL
ControlNet_plus_plus/train/EYES_CELEBHQ_TRAIN_DEFAULT_EVAL
ControlNet_plus_plus/train/EVALUATE_CONTROLNET_SCALE
ControlNet_plus_plus/train/TEST_CELEBAHQ
ControlNet_plus_plus/train/TEST_FFHQ
ControlNet_plus_plus/train/SAME_ID
ControlNet_plus_plus/train/COUNDING_BOXES_MASKS
ControlNet_plus_plus/train/UNUSED_THINGS
ControlNet_plus_plus/train/SEED_RANDOMNESS_TEST
EVAL
PVA-CelebAHQ-IDI
